* {
  margin: 0px;
  padding: 0px;
}
body {
}
h1 {
  text-align: center;
}
section {
  width: 1200px;
  height: 800px;
  margin: auto;
  background-color: rgb(171, 160, 141);
}
.row {
  height: 200px;
}
.col-1-3 {
  width: 400px;
  height: 200px;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}
.col-1 {
  height: 200px;
  padding: 5px;
  box-sizing: border-box;
}
.col-1-2 {
  height: 200px;
  width: 600px;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}
.col-2-3 {
  height: 200px;
  width: 800px;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}
.col-1-6 {
  height: 200px;
  width: 200px;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

.red {
  background-color: red;
  height: 100%;
}
.green {
  background-color: green;
  height: 100%;
}
.yellow {
  background-color: yellow;
  height: 100%;
}
.pink {
  background-color: pink;
  height: 100%;
}
